[submodule "slicer"]
	path = slicer
	url = https://github.com/odolocharles/Slicer
[submodule "openmrs"]
	path = openmrs
	url = https://github.com/odolocharles/openmrs-core
[submodule "openice"]
	path = openice
	url = https://github.com/odolocharles/mdpnp
